.distance-and-rate {
  background-color: #00c6f8;
  display: block;
  width: 100%;
  padding: 5px 10px;
}

.distance {
  display: inline-block;
  float: left;
}
.hourly-rate {
  display: inline-block;
  float: right;
}
